<form action="/login" method="post">
    <fieldset>
        <legend>注册</legend>
        <table>
        <tr>
            <td><span>用户名</span></td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>
                <span>密码</span>
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <span>确认密码</span>
            </td>
            <td>
                <input type="password" name="password2">
            </td>
        </tr>
        <tr>
            <td>
                <span>邮箱</span>
            </td>
            <td>
                <input type="email" name="email">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="注册" align="center"></td>
        </tr>
    </table>
    </fieldset>
</form>