<form action="/register" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>注册</legend>
        <table>
        <tr>
            <td><span>用户名</span></td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>
                <span>密码</span>
            </td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <span>确认密码</span>
            </td>
            <td>
                <input type="password" name="password2">
            </td>
        </tr>
        <tr>
            <td>
                <span>邮箱</span>
            </td>
            <td>
                <input type="email" name="email">
            </td>
        </tr>
        <tr>
            <td>
                <span>上传头像</span>
            </td>
            <td>
                <input type="file" name="avatar">
            </td>
        </tr>
        <tr>
            <td>
                <span>城市</span>
            </td>
            <td>
                <select name="city" id="city">
                    <option value="chengdu">成都</option>
                    <option value="xian">西安</option>
                    <option value="wuhan">武汉</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><span style="color: red">{{result}}</span></td>
        </tr>
        <tr>
            <td><input type="submit" value="注册" align="center"></td>
            <td><input type="reset" value="重置" align="center"></td>
        </tr>
    </table>
    </fieldset>
</form>